@import url("index.css");

:root {
	--bg:		#ffffff;
	--fg:		#000000;
	--title:	#750a61;
	--hl:		#750a61;
	--black:	#000000;
	--red:		#ea0517;
	--green:	#03e020;
	--yellow:	#f7f20b;
	--blue:		#0d0490;
	--magenta:	#B48EAD;
	--cyan:		#06b2fc;
}

body { background-image: url("img/WallpaperWhite.png");
background-size: 100% auto; }
